body{
    min-height: 300vh;
}
.flex{
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.container{
    overflow: hidden;
}
.title{
    display: block;
    color: #569CD6;
    text-align: center;
}
.title p:first-child{
    display: inline;
    font-size: 3rem;
    margin-right: 2rem;
}
.title h1{
    display: inline;
    color: #4EC9B0;
}
nav{
    margin: 2rem 0 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 1rem;
}
@media (max-width:800px){
    .title p:first-child{
        display:block;
    }
    nav{
        grid-template-columns: 1fr;
        text-align: left;
    }
}
nav *{
    margin: 0;
}
section{
    margin-bottom: 40px;
}
section .content{
    padding-left: 50px;
}
section h2 {
    color: #DCDC9D;
    position: relative;
}
section > h2::after{
    content: "";
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 2px;
    background-color: #D4D4D4;
}
pre{
    margin: 0;
}
article{
    margin-bottom: 1rem;
}
.writer::after{
    content: "|";
    color: #D4D4D4!important;
    font-size: 1.2rem;
    animation-name: writer;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 1;
}
@keyframes writer{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.antidumb{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    opacity: 0;
}
.antidumb.start{
    animation-name: antidumb;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
.end{
    font-size: 4rem;
    text-align: center;
}
@keyframes antidumb{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
div#langs{
    position: absolute;
    display: block;
    top: 1%;
    right: 1%;
}
div#langs a{
    display: inline-block;
    width: 30px;
    height: 20px;
    border: 0;
    outline: none;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}
div#langs a:hover{
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
div#langs a#es{
    background-image: url("../img/icon-es.jpg");
}
div#langs a#en{
    background-image: url("../img/icon-en.jpg");
}
label{
    display:block;
}
input,textarea{
    display: inline-block;
    background-color: var(--body);
    color: #CE9169;
    border: 0;
    background: rgba(255,255,255,0.05);
    border-radius: 5px;
    padding: 5px;
    outline: 0;
    width: 17rem;
}
button{
    background-color: var(--body);
    color: #DCDC9D;
    border: 0;
    outline: 0;
    border-bottom: 1px #FFD700 solid;
}
/*Tags*/
[class^="tag-"]{
    display: inline;

}
.tag-none{
    color: #D4D4D4;
}
.tag-comment{
    display: block;
    color: #529955;
    margin: 0;
    text-align: right;
}
.tag-class{
    color: #4EC9B0;
}
.tag-system{
    color: #569CD6;
}
.tag-bracket{
    color: #FFD700;
}
.tag-variable{
    color: #9CDCFE;
}
.tag-string{
    color: #CE9169;
}